---
layout: default
title: Blog
excerpt: "This is the homepage of Simon Schneegans. Greetings! <br>Explore the <a href='/blog'><i
    class='fa fa-pencil'></i> blog</a>, discover my <a href='/projects.html'><i class='fa fa-gears'></i> projects</a> or
use the <i class='fa fa-tag'></i> tags below to find something specific."
teaser: "gnome-pie065.jpg"
colors: color-fallback
---


<div class="page-header">
  <div class="container">
    <div class="row">
      {% if paginator.page == 1 %}
      <div class="col s12">
        <div class="rounded accordion accordion-items-3">
          <ul>
            <li style="background-image:url(/assets/pictures/fly-pie.jpg)">
              <div>
                <h3>Fly-Pie</h3>
                <p>Fly-Pie is one of my main spare-time projects. It is an extension for GNOME Shell which lets you open marking menus via keyboard shortcuts. It is basically the follow-up project of Gnome-Pie.
                  <br><a target="_blank" href="https://github.com/Schneegans/Fly-Pie/">View on GitHub <i class="material-icons tiny top-offset">chevron_right</i></a>
                </p>
              </div>
            </li>
            <li style="background-image:url(/assets/pictures/desktop-cube.jpg)">
              <div>
                <h3>The Desktop-Cube</h3>
                <p>When I started using Linux more than a decade ago, it was because of the 3D desktop cube of Compiz. Therefore, I decided to re-create a similar effect for GNOME Shell!
                  <br><a target="_blank" href="https://github.com/Schneegans/Desktop-Cube/">View on GitHub <i class="material-icons tiny top-offset">chevron_right</i></a>
                </p>
              </div>
            </li>
            <li style="background-image:url(/assets/pictures/burn-my-windows.jpg)">
              <div>
                <h3>Burn-My-Windows</h3>
                <p>With this GNOME Shell extension, I want to revive one of the most useless features of Linux desktop history: Setting windows on fire!
                  <br><a target="_blank" href="https://github.com/Schneegans/Burn-My-Windows/">View on GitHub <i class="material-icons tiny top-offset">chevron_right</i></a>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <small class="right" style="margin: 5px 0 -5px 0">* This accordion requires no Javascript at all. <a
            href="{% post_url 2015-10-06-accordions %}">Here you can learn
            how I created it.</a></small>
      </div>


      {% else %}
      <div class="col s12 center-align" style="margin: 20px 0 -20px 0">
        {% include pagination.html %}
      </div>
      {% endif %}
    </div>
  </div>
</div>


<div class="page-background" style="padding-top: 80px;margin-top: -80px">
  <div class="page-content" style="padding: 30px 0;">
    <div class="container">
      {% for post in paginator.posts %}
      <!-- skip first post on first page -->
      {% include post-preview.html %}
      {% if forloop.last %}{% else %}
      <hr>{% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        {% include pagination.html %}
      </div>
    </div>
  </div>
</div>