/* Partials */
@import url(http://fonts.googleapis.com/css?family=Advent+Pro);
@import url(http://fonts.googleapis.com/css?family=Oxygen);
/* Theme Vars */
/* Compass Vars */
/* line 12, ../_sass/_base.scss */
body {
  color: #bbb;
  text-shadow: 1px 1px 1px #000;
  height: 100%;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}

/* line 20, ../_sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  color: #999;
  text-rendering: optimizelegibility;
  font-family: 'Advent Pro', sans-serif;
  /*font-family: 'Pontano Sans', sans-serif;*/
}

/* line 29, ../_sass/_base.scss */
a {
  color: #F5994D;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 31, ../_sass/_base.scss */
a:hover {
  color: #fdecde;
  text-decoration: none;
}

/* line 38, ../_sass/_base.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  color: #999999;
}

/* line 43, ../_sass/_base.scss */
h1, h2 {
  margin: 0 0 15px;
}

/* line 47, ../_sass/_base.scss */
h1 {
  font-size: 40px;
}

/* line 51, ../_sass/_base.scss */
h2 {
  font-size: 30px;
}

/* line 55, ../_sass/_base.scss */
pre, code {
  color: #ccc;
}

/* line 59, ../_sass/_base.scss */
pre > code {
  /* Reset box-shadow for pygments */
  background: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

/* line 68, ../_sass/_base.scss */
hr {
  border: none;
  background: rgba(0, 0, 0, 0.7);
  height: 1px;
}

/* Layout */
/* line 75, ../_sass/_base.scss */
.navbar {
  margin-bottom: 0;
}
/* line 77, ../_sass/_base.scss */
.navbar div.navbar-inner {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 79, ../_sass/_base.scss */
.navbar div.navbar-inner a.brand {
  padding: 10px 20px;
}
/* line 84, ../_sass/_base.scss */
.navbar div.navbar-inner ul.nav:first-child li a {
  padding: 12px 10px 8px;
}

/* line 93, ../_sass/_base.scss */
.container > footer {
  margin-top: 20px;
  clear: both;
}

/* line 97, ../_sass/_base.scss */
.container > footer p {
  text-align: center;
  /* center align it with the container */
}

/* Content */
/* line 104, ../_sass/_base.scss */
.content {
  /* when there's no page-header */
  /* Wide column content */
}
/* line 105, ../_sass/_base.scss */
.content img {
  border-top: 1px solid #373737;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
/* line 110, ../_sass/_base.scss */
.content.no-header {
  padding-top: 40px;
}
/* line 117, ../_sass/_base.scss */
.content div.row div.span8 > img {
  display: block;
  margin: 10px auto;
}
/* line 123, ../_sass/_base.scss */
.content div.row div.span4 h4 {
  margin-top: 10px;
}
/* line 125, ../_sass/_base.scss */
.content div.row div.span4 h4:first {
  margin-top: 0;
}
/* line 129, ../_sass/_base.scss */
.content p {
  padding-bottom: 15px;
  line-height: 25px;
  margin: 0;
}

/* Page header tweaks */
/* line 137, ../_sass/_base.scss */
.page-header {
  width: 100%;
  padding-top: 30px;
  border: none;
  margin: 0px;
}
/* line 142, ../_sass/_base.scss */
.page-header h1 {
  color: #eee;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  /* line 149, ../_sass/_base.scss */
  .page-header {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
/* line 155, ../_sass/_base.scss */
.topbar .btn {
  border: 0;
}

/* Pagination */
/* line 162, ../_sass/_base.scss */
div.pagination li a {
  -moz-box-shadow: 0px 1px 1px #000;
  -webkit-box-shadow: 0px 1px 1px #000;
  box-shadow: 0px 1px 1px #000;
}

/* Buttons */
/* line 170, ../_sass/_base.scss */
a.btn, a.btn.disabled {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 2px #000;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 0, rgba(255, 255, 255, 0.5) 0 1px 1px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
/* line 181, ../_sass/_base.scss */
a.btn:hover, a.btn.disabled:hover {
  background: rgba(255, 255, 255, 0.05);
}
/* line 184, ../_sass/_base.scss */
a.btn.disabled, a.btn.disabled.disabled {
  color: rgba(255, 255, 255, 0.3);
}

/* Tags */
/* line 190, ../_sass/_base.scss */
.tag_box {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  overflow: hidden;
}
/* line 196, ../_sass/_base.scss */
.tag_box.inline li {
  float: left;
}
/* line 200, ../_sass/_base.scss */
.tag_box li {
  line-height: 28px;
}
/* line 204, ../_sass/_base.scss */
.tag_box a.active {
  background: #57A957;
  border: 1px solid #4C964D;
  color: #FFF;
}
/* line 209, ../_sass/_base.scss */
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

/* line 216, ../_sass/_base.scss */
.tag_box.inline a,
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 3px;
  text-decoration: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 0, rgba(255, 255, 255, 0.5) 0 1px 1px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
/* line 229, ../_sass/_base.scss */
.tag_box.inline a:hover,
.tag_box a:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Page-specific */
/* line 236, ../_sass/_base.scss */
div.content div#page-index {
  padding-top: 30px !important;
}

/* Zocial Overrides */
/* line 242, ../_sass/_base.scss */
.navbar a.zocial {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 247, ../_sass/_base.scss */
.zocial.googleplus:focus,
.zocial.googleplus:hover {
  color: #e01d30 !important;
}

/* line 252, ../_sass/_base.scss */
.zocial.twitter:focus,
.zocial.twitter:hover {
  color: #46c0fb !important;
}

/* line 257, ../_sass/_base.scss */
.zocial.linkedin:focus,
.zocial.linkedin:hover {
  color: #50a1cb !important;
}

/* line 262, ../_sass/_base.scss */
.zocial.rss:focus,
.zocial.rss:hover {
  color: #fb9d3a !important;
}

/* Sticky footer */
/* line 271, ../_sass/_base.scss */
html, body {
  height: 100%;
}

/* line 275, ../_sass/_base.scss */
#page-content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0;
}

/* line 282, ../_sass/_base.scss */
#page-background {
  margin-bottom: 125px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2a2a2a;
  background: url(../images/bgs/body.png) repeat;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8);
  border-top: 1px solid #373737;
}

/* line 294, ../_sass/_base.scss */
footer {
  position: fixed;
  bottom: 0;
  z-index: -1;
  height: 125px;
  width: 100%;
  padding-top: 20px;
  max-height: 105px;
  overflow: hidden;
  background: #1b1b1b;
}
/* line 296, ../_sass/_base.scss */
footer .container {
  text-align: center;
}

/* Responsive Overrides */
@media (max-width: 767px) {
  /* line 3, ../_sass/_responsive.scss */
  body {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* line 8, ../_sass/_responsive.scss */
  div.container {
    padding: 0px 20px;
  }
  /* line 10, ../_sass/_responsive.scss */
  div.container div.page-header {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}
/* Posts */
/* line 3, ../_sass/_post.scss */
article.post header {
  margin-bottom: 10px;
}
/* line 5, ../_sass/_post.scss */
article.post header h1, article.post header h2 {
  margin: 0;
}
/* line 8, ../_sass/_post.scss */
article.post header .category {
  display: inline-block;
  color: white;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 6px;
  margin-left: 3px;
}

/* line 25, ../_sass/_post.scss */
div.posts article div.date {
  font-size: 10px;
  padding: 10px 0;
}
/* line 28, ../_sass/_post.scss */
div.posts article div.date time {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
}

/* line 1, ../_sass/_custom.scss */
hr {
  margin: 12px 0;
}

/* line 5, ../_sass/_custom.scss */
ul.sub-nav {
  list-style: none;
  margin: 0 0 50px 0;
}
/* line 9, ../_sass/_custom.scss */
ul.sub-nav li {
  margin: 0;
  list-style: none;
  margin: 0;
}

/* line 16, ../_sass/_custom.scss */
.page-header {
  font-family: 'Advent Pro', sans-serif;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  /* line 22, ../_sass/_custom.scss */
  .page-header {
    font-size: 20px;
  }
}
@media only screen and (max-width: 400px) {
  /* line 28, ../_sass/_custom.scss */
  .page-header {
    font-size: 15px;
  }
}
/* line 35, ../_sass/_custom.scss */
.page-header > .container {
  position: relative;
}
/* line 40, ../_sass/_custom.scss */
.page-header ul.main-nav {
  list-style: none;
  margin: 0 -10px;
  display: inline-block;
}
/* line 45, ../_sass/_custom.scss */
.page-header ul.main-nav.brand {
  position: absolute;
  right: 0;
}
@media only screen and (max-width: 768px) {
  /* line 51, ../_sass/_custom.scss */
  .page-header ul.main-nav.brand {
    margin: 0 10px;
  }
}
/* line 56, ../_sass/_custom.scss */
.page-header ul.main-nav li {
  margin: 0;
  display: inline;
  padding: 9px 9px 12px 9px;
}
/* line 63, ../_sass/_custom.scss */
.page-header li.active {
  background-color: #2a2a2a;
  background: url(../images/bgs/body.png) repeat;
  border-top: 1px solid #373737;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 73, ../_sass/_custom.scss */
.kwicks {
  height: 500px;
  margin-bottom: 30px;
}

/* line 77, ../_sass/_custom.scss */
.kwicks > li {
  height: 500px;
  border-top: 1px solid #373737;
  box-shadow: 0 2px 10px black;
  overflow: hidden;
}
/* line 83, ../_sass/_custom.scss */
.kwicks > li .description {
  display: none;
  color: #D7D7D7;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  bottom: 0;
  position: absolute;
}
/* line 87, ../_sass/_custom.scss */
.kwicks > li .description h2 {
  color: #D7D7D7;
}
/* line 97, ../_sass/_custom.scss */
.kwicks > li .bg {
  height: 100%;
  width: 100%;
}

/* line 104, ../_sass/_custom.scss */
div.teaser {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: 50% 50%;
  border-top: 1px solid #373737;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

/* line 115, ../_sass/_custom.scss */
.post-preview {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

/* line 121, ../_sass/_custom.scss */
.banner {
  margin: 20px -10px 0 0;
  padding: 5px 12px;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px 0 0 2px;
  position: absolute;
  right: 0;
  border-top: 1px solid #373737;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJmMmYyZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmMWYxZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2f2f2f), color-stop(100%, #1f1f1f));
  background-image: -moz-linear-gradient(top, #2f2f2f, #1f1f1f);
  background-image: -webkit-linear-gradient(top, #2f2f2f, #1f1f1f);
  background-image: linear-gradient(to bottom, #2f2f2f, #1f1f1f);
}
/* line 122, ../_sass/_custom.scss */
.banner::before {
  content: "";
  position: absolute;
  top: -11px;
  right: 0;
  border-color: transparent transparent #111 #111;
  border-style: solid;
  border-width: 5px;
  width: 0;
  height: 0;
}

/* line 145, ../_sass/_custom.scss */
.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 153, ../_sass/_custom.scss */
.responsive-video {
  border-top: 1px solid #373737;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  position: relative;
  padding-bottom: 56.25%;
  /* Default for 1600x900 videos 16:9 ratio*/
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}
