$link-colors: (
  color-fallback: #FF7F85,
  color-gnome-pie066a: #FF6351,
  color-project-gnomepie: #E37AFF,
  color-favicon: #FFFFFF,
  color-leaf: #FFE11C,
  color-london_09: #FFCF7F,
  color-Theme_Enso: #FF6204,
  color-sunset: #FF8636,
  color-icon_active: #7FF9FF,
  color-mockup: #FF7F81,
  color-gnome-pie070b: #947FFF,
  color-bachelor08: #CBFF7F,
  color-london_05: #FFF47F,
  color-gnome-pie060: #FFAF7F,
  color-gnome-pie063: #7FB6FF,
  color-gnome-pie_adwaita: #7AB1FF,
  color-project-ptb: #7FB9FF,
  color-gnome-pie_19: #FFC37F,
  color-micro: #7FFF97,
  color-rose: #FF7F7F,
  color-icon_inactive: #F6FF7F,
  color-london_02: #7FCAFF,
  color-gnome-pie056: #D5FF61,
  color-Theme_Slim: #7FFFD3,
  color-eat-it-01: #FF7F7F,
  color-mars: #7FFFA6,
  color-gnome-pie_18: #FFBE7F,
  color-teaser-art: #FF8837,
  color-Theme_Ubuntu: #FF7F97,
  color-gnome-pie_03: #7FC8FF,
  color-simon: #FF917F,
  color-gnome-pie067: #1DBAFF,
  color-stats: #FFF67F,
  color-project-artwork: #FF987C,
  color-stars: #7192FF,
  color-sword: #FF7F7F,
  color-Theme_Analog_Clock: #FFEA6F,
  color-gnome-pie069: #FFB67F,
  color-Theme_Space_Clock: #D97AFF,
  color-london_08: #FFE27F,
  color-bachelor07: #9FFF7F,
  color-Theme_Dragon: #FF34E6,
  color-Theme_Pacman: #7FFFC8,
  color-ring: #FCFF7F,
  color-gnome-pie068: #FFF97F,
  color-project-mars: #8CFF7F,
  color-gnome-pie_unity: #FF7FA1,
  color-gnome-pie_11: #FF917F,
  color-london_01: #7FCDFF,
  color-gnome-pie055: #FB7FFF,
  color-chapell: #FFD87F,
  color-lfelc-shooting: #FF837F,
  color-gnome-pie_21: #FFBA7F,
  color-gnome-pie054: #FF7C08,
  color-gnome-pie_09: #FF7F82,
  color-contribute: #7FFFF8,
  color-accordions: #FFAA7F,
  color-london_03: #7FD0FF,
  color-translate2: #FF767F,
  color-bachelor10: #DFFF7F,
  color-Theme_O-Pie: #FFDC7F,
  color-Theme_Sharingan: #FF1716,
  color-gnome-pie_10: #FFA47F,
  color-ubuntu: #FF9D7F,
  color-feder: #FF7F7F,
  color-Theme_Numix: #FF5842,
  color-gnome-pie_20: #FFB67F,
  color-coral_paths: #8DFF7C,
  color-gnome-pie071: #FF757C,
  color-gnome-pie066: #FF5842,
  color-project-formes-et-couleurs: #FF9C7F,
  color-london_04: #FFD87F,
  color-Theme_Distro: #75BBFF,
  color-moss: #BCFF35,
  color-formes-et-couleurs-01: #FF9E7F,
  color-Theme_Eternal: #38A1FF,
  color-sun: #FF8F31,
  color-gnome-pie_23: #FFCF7F,
  color-grass: #DBFF3C,
  color-gnome-pie_16: #FFBD7F,
  color-gnome-pie_24: #FF7F92,
  color-arrow: #FF7F7F,
  color-bachelor06: #D1FF7F,
  color-teaser-mars: #D14DFF,
  color-gnome-pie_17: #FFBF7F,
  color-eat-it-04: #FFC25F,
  color-witch: #FFD67F,
  color-use: #7FE3FF,
  color-Theme_Sis-Solar: #D765FF,
  color-Theme_Minimalistic: #FFCB7F,
  color-gnome-pie_06: #7FD2FF,
  color-london: #FFD87F,
  color-Theme_Simple: #7FC3FF,
  color-lfelc-editing: #FF9F7F,
  color-project-hzb: #7FC6FF,
  color-gnome-pie_22: #FFBD7F,
  color-island: #7FD0FF,
  color-trace_paths: #7FFF7F,
  color-color_splash: #DE54FF,
  color-translate: #7FF2FF,
  color-gnome-pie_02: #7FDAFF,
  color-Theme_Adwaita_Big: #FF5E70,
  color-gnome-pie_13: #FFDE7F,
  color-Theme_Unity: #FF0B88,
  color-themes_for_gnome-pie: #FFC27F,
  color-gnome-pie057: #7FA2FF,
  color-properties: #E9FF36,
  color-gnome-pie064: #FFDF7F,
  color-alchemy2: #FF7F7F,
  color-gnome-pie_08: #7FC5FF,
  color-gnome-pie_glossy: #FF32EF,
  color-arthas: #61D0FF,
  color-bird: #FFD67F,
  color-gnome-pie_opie: #7FC0FF,
  color-alchemy1: #D0FF7F,
  color-Theme_Itachi: #7FE9FF,
  color-buchenwald: #FF7F7F,
  color-knife: #FF907F,
  color-Theme_Adwaita: #FFC77F,
  color-teaser-gnomepie: #FB7FFF,
  color-faroer: #FFD47F,
  color-Theme_Glossy: #7FDCFF,
  color-install: #7FCCFF,
  color-faroer_03: #DCFF1F,
  color-lfelc-setup: #FF7F80,
  color-gnome-pie_04: #7FC2FF,
  color-Theme_Elementary: #7FF6FF,
  color-small_lemur: #CEFF74,
  color-gnome-pie068b: #FFDF7F,
  color-gnome-pie_07: #7FC8FF,
  color-gnome-pie065: #EA75FF,
  color-Theme_Gnome_Dark: #73B7FF,
  color-launchpad: #FFF260,
  color-london_10: #FFB66F,
  color-lfelc-planning: #FF7F84,
  color-signals: #FF7E56,
  color-Theme_Minimalistic_Text: #FFAA7F,
  color-gnome-pie_15: #FFB57F,
  color-gnome-pie066b: #FF6D63,
  color-gnome-pie_14: #FFAF7F,
  color-london_07: #FFC57F,
  color-teaser-formes-et-couleurs: #FF977F,
  color-Theme_Kiss: #6CDCFF,
  color-bachelor09: #EAFF7F,
  color-gnome-pie_12: #FF737E,
  color-gnome-pie070: #9C7FFF,
  color-faroer_02: #FFF042,
  color-bachelor01: #7FFFF1,
  color-Theme_Funky: #7FFF85,
  color-london_06: #FFBB62,
  color-Theme_Bright: #FF907F
);