hr {
  margin: 12px 0;
}

ul.sub-nav {
  list-style: none;
  margin: 0 0 50px 0;

  li {
    margin: 0;
    list-style: none;
    margin:0;
  }
}

.page-header {
  font-family: 'Advent Pro', sans-serif;
  font-size: 30px;
}

@media only screen and (max-width:600px) {
  .page-header {
    font-size: 20px;
  }
}

@media only screen and (max-width:400px) {
  .page-header {
    font-size: 15px;
  }
}

.page-header {

  border-bottom: none;
  box-shadow: none;

  >.container {
    position:relative;
  }


  ul.main-nav {
    list-style: none;
    margin: 0 -10px;
    display: inline-block;

    &.brand {
      position:absolute;
      right:0;
    }

    @media only screen and (max-width:768px) {
      &.brand {
        margin: 0 10px;
      }
    }

    li {
      margin: 0;
      display:inline;
      padding: 9px 9px 12px 9px;
    }
  }

  li.active {
    background-color: #2a2a2a;
    background: url(../images/bgs/body.png) repeat ;
    border-top: 1px solid #373737;
    @include border-radius(3px);
  }
}

// slider ----------------------------------------------------------------------

.kwicks {
  height: 500px;
  margin-bottom:30px;
}
.kwicks > li {
  height: 500px;
  border-top: 1px solid #373737;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
  overflow: hidden;

  .description {
    display: none;
    color:#D7D7D7;

    h2 {
      color:#D7D7D7;
      margin-top:10px;
    }

    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 15px 15px 15px;
    bottom: 0;
    position: absolute;
  }

  .bg {
    height:100%;
    width:100%;
    background-size:cover;
  }
}

// blog style ------------------------------------------------------------------
div.teaser {
  width:100%;
  height: 300px;

  background-size: cover;
  background-position: 50% 50%;

  border-top: 1px solid #373737;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.post-preview {
  margin-top: 30px;
  margin-bottom: 30px;
  position:relative;
}

// banners ---------------------------------------------------------------------

.banner-right {
  &::before {
    content: "";
    position: absolute;
    top: -11px;
    right: 0;
    border-color: transparent transparent #111 #111 ;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
  }

  margin: 20px -10px 0 0;
  padding: 5px 12px;
  @include border-radius(2px 0 0 2px);
  position: absolute;
  right:0;
  border-top: 1px solid #373737;
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.8));
  @include background-image(linear-gradient(to bottom, #2f2f2f, #1f1f1f));
}

.banner-left {
  &::before {
    content: "";
    position: absolute;
    top: -11px;
    left: 0;
    border-color: transparent #111 #111 transparent;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
  }

  margin: 20px 0 0 -10px;
  padding: 5px 12px;
  @include border-radius(2px 0 0 2px);
  position: absolute;
  left:0;
  border-top: 1px solid #373737;
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.8));
  @include background-image(linear-gradient(to bottom, #2f2f2f, #1f1f1f));
}

// responsive video ------------------------------------------------------------

.responsive-video-169 iframe,
.responsive-video-32 iframe,
.responsive-video-43 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-video-169,
.responsive-video-32,
.responsive-video-43 {
  border-top: 1px solid #373737;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  position: relative;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}

.responsive-video-169 {
  padding-bottom: 56.25%;
}

.responsive-video-43 {
  padding-bottom: 75%;
}

.responsive-video-32 {
  padding-bottom: 66.66%;
}

.post-meta {
  margin-top: -10px;
}

// alerts ----------------------------------------------------------------------

.alert {
  background-color: rgba(250, 167, 50, 0.29);
  border-color: rgba(255, 157, 18, 0.1);
}

// magnific zoom ---------------------------------------------------------------
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

// toc -------------------------------------------------------------------------
#toc {
  ul {
    margin-top: -15px;
    list-style: none;

    a {
      color:#bbb;
      &:hover {
        color:$link-color;
      }
      @include transition(all 0.1s);
    }

    li {

      &.toc-active a {
          color:$link-color;
      }

      list-style: none;

      &.toc-h1 {
        margin:15px 0 0 0;
      }
      &.toc-h2 {
        margin:5px 0 0 0;
      }
      &.toc-h3 {
        margin:0 0 0 0;
      }
    }
  }
}
