{% if page.url == "/" %}
<a href="/about.html"><i class="material-icons left">home</i>Simon Schneegans</a>
{% else %}
<a href="/" class="breadcrumb"><i class="material-icons left">home</i>Home</a>
{% endif %}

<ul class="right" id="project-list">
  <li><a href="/gnome-pie.html"><i class="material-icons left">bubble_chart</i>Gnome-Pie</a></li>
  <li><a href="/mars.html"><i class="material-icons left">videogame_asset</i>M.A.R.S.</a></li>
  <li><a href="/artwork.html"><i class="material-icons left">brush</i>Pictures</a></li>
  <li><a href="/animations.html"><i class="material-icons left">play_circle_filled</i>Videos</a>
  </li>
</ul>