<!-- side-by-side version -->
<div class="row hide-on-med-and-down" style="position: relative;">
  <div class="col s12">
    <div data-caption="{{post.description}}" class="z-depth-2 materialboxed" style="position: absolute; top:0; bottom: 0; width: 40%; background-position: center; background-repeat: no-repeat;background-size: cover; background-image: url(/assets/pictures/{{post.teaser}});">
    </div>
    <div style="position: relative; padding-left: 24px; width: 60%; left: 40%">
      <h1 class="no-toc">{{post.title}}</h1>
      {{ post.excerpt }}
      <br>
      {% include post-nav.html %}
    </div>
  </div>
</div>

<!-- side-by-side-nav-below version -->
<div class="row hide-on-small-only hide-on-large-only" style="position: relative;">
  <div class="col s12">
    <div data-caption="{{post.description}}" class="z-depth-2 materialboxed" style="position: absolute; top:0; bottom: 24px; width: 40%; background-position: center; background-repeat: no-repeat;background-size: cover; background-image: url(/assets/pictures/{{post.teaser}});">
    </div>
    <div style="position: relative; padding-left: 24px; width: 60%; left: 40%; min-height: 240px">
      <h1 class="no-toc">{{post.title}}</h1>
      {{ post.excerpt }}
    </div>
  </div>
</div>
<div class="row hide-on-small-only hide-on-large-only">
  {% include post-nav.html %}
</div>

<!-- no-nav version -->
<div class="row hide-on-med-and-up">
  <div class="col s12">
    <h1 class="no-toc">{{post.title}}</h1>
    {{ post.excerpt }}
  </div>
  <div class="col s12">
    {% assign picture = post.teaser %}
    {% assign text = post.description %}
    {% include image.html %}
  </div>
</div>
