<div class="row {{post.colors}}" style="position:relative">
  <div class="col s12 hide-on-med-and-up">
    <h1>
      <a href="{{post.url}}">{{post.title}}</a>
    </h1>
    <div class="banner-right"><i
        class="material-icons tiny">create</i>{{post.date | date_to_string}}</div>
    <a href="{{post.url}}">
      <div class="post-preview z-depth-2 rounded"
        style="background-image:url(/assets/pictures/teasers/thumbs/{{post.teaser}})">
      </div>
    </a>
    {{post.excerpt}}
  </div>
  <div class="col s5 hide-on-small-only">
    <h1>
      <a href="{{post.url}}">{{post.title}}</a>
    </h1>
    {{post.excerpt}}
    <a href="{{post.url}}">read on <i class="material-icons tiny top-offset">chevron_right</i></a>
  </div>
  <div class="col s5 hide-on-small-only">
    <div class="banner-right"><i
        class="material-icons tiny">create</i>{{post.date | date_to_long_string}}</div>
    <a href="{{post.url}}">
      <div class="post-preview z-depth-2 rounded"
        style="background-image:url(/assets/pictures/teasers/thumbs/{{post.teaser}})">
      </div>
    </a>
  </div>
</div>