<!-- side-by-side version -->
<div class="row hide-on-small-only {{post.colors}}" style="position: relative;">
  <div class="col s12">
    <a href="{{post.url}}"><div data-caption="{{post.description}}" class="z-depth-2" style="position: absolute; top:0; bottom: 0; width: 40%; background-position: center; background-repeat: no-repeat;background-size: cover; background-image: url(/assets/pictures/thumbs/{{post.teaser}});">
    </div></a>
    <div class="banner-left"><i class="material-icons tiny">create</i>Latest News</div>
    <div style="position: relative; padding-left: 24px; width: 60%; left: 40%">
      <h1 class="no-toc"><a href="{{post.url}}">{{post.title}}</a></h1>
      <p class="excerpt">{{ post.excerpt | strip_html }}</p>
      <a href="{{post.url}}" class="right">read on <i class="material-icons tiny top-offset">chevron_right</i></a>
      <br>
    </div>
  </div>
</div>

<!-- above-below version -->
<div class="row hide-on-med-and-up {{post.colors}}">
  <div class="col s12">
    <h1 class="no-toc"><a href="{{post.url}}">{{post.title}}</a></h1>
    <p>
      {{ post.excerpt }}
    </p>
  </div>
  <div class="col s12" style="position: relative">
    <div class="banner-right"><i class="material-icons tiny">create</i>Latest News</div>
    <a href="{{post.url}}"><img class="z-depth-2 responsive-img" src="/assets/pictures/thumbs/{{post.teaser}}" "/></a>
  </div>
</div>
