<div class="row">
        <div style="padding-bottom:6px" class="col xl4 s6"><a class="truncate btn block waves-effect"
                        href="/gnome-pie.html#toc3"><i class="material-icons left">file_download</i>Download</a></div>
        <div style="padding-bottom:6px" class="col xl4 s6"><a class="truncate btn block waves-effect"
                        href="/gnome-pie-changelog.html"><i class="material-icons left">track_changes</i>Changelog</a>
        </div>
        <div style="padding-bottom:6px" class="col xl4 s6"><a class="truncate btn block waves-effect"
                        href="https://github.com/schneegans/Gnome-Pie" target="_blank"><i
                                class="material-icons left">code</i>Source
                        Code</a></div>
        <div style="padding-bottom:6px" class="col xl4 s6"><a class="truncate btn block waves-effect"
                        href="https://github.com/schneegans/Gnome-Pie/issues" target="_blank"><i
                                class="material-icons left">bug_report</i>Bugs</a></div>
        <div style="padding-bottom:6px" class="col xl4 s6"><a class="truncate btn block waves-effect"
                        href="{% post_url 2015-08-07-translate-gnome-pie %}"><i
                                class="material-icons left">language</i>Translations</a>
        </div>
        <div style="padding-bottom:6px" class="col xl4 s6"><a class="truncate btn block waves-effect"
                        href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=X65SUVC4ZTQSC"
                        target="_blank"><i class="material-icons left">attach_money</i>Donations</a></div>
        <div style="padding-bottom:6px" class="col xl4 s6"><a class="truncate btn block waves-effect"
                        href="{% post_url 2015-04-26-themes-for-gnome-pie %}"><i
                                class="material-icons left">brush</i>Theming</a>
        </div>
        <div style="padding-bottom:6px" class="col xl4 s6"><a class="truncate btn block waves-effect"
                        href="/gnome-pie-themes.html"><i class="material-icons left">collections</i>Theme Gallery</a>
        </div>
</div>