
.banner-right {
  &::before {
    content: "";
    position: absolute;
    top: -11px;
    right: 0;
    border-color: transparent transparent #111 #111 ;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
  }

  i {
    margin-right: 5px;
  }

  margin: 20px 1px 0 0;
  padding: 5px 12px;
  @include border-radius(2px 0 0 2px);
  position: absolute;
  right:0;
  z-index: 1;
  border-top: 1px solid #373737;
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.8));
  @include background-image(linear-gradient(to bottom, #2f2f2f, #1f1f1f));
}

.banner-left {
  &::before {
    content: "";
    position: absolute;
    top: -11px;
    left: 0;
    border-color: transparent #111 #111 transparent;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
  }

  i {
    margin-right: 5px;
  }

  margin: 20px 0 0 -14px;
  padding: 5px 12px;
  @include border-radius(2px 0 0 2px);
  position: absolute;
  left:15px;
  z-index: 1;
  border-top: 1px solid #373737;
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.8));
  @include background-image(linear-gradient(to bottom, #2f2f2f, #1f1f1f));
}
