$link-colors: (
  color-fallback: #EA75FF,
  color-commandline: #FF7F80,
  color-sunset: #FF8636,
  color-mockup: #FF7F81,
  color-gnome-pie060: #FFAF7F,
  color-gnome-pie063: #7FB6FF,
  color-openpie: #46A4FF,
  color-gnome-pie056: #D5FF61,
  color-eat-it-01: #FF7F7F,
  color-mars: #7FFFA6,
  color-gnome-pie067: #1DBAFF,
  color-stats: #FFF67F,
  color-gnome-pie069: #FFB67F,
  color-gnome-pie068: #FFF97F,
  color-gnome-pie055: #FB7FFF,
  color-gnome-pie054: #FF7C08,
  color-accordions: #FFAA7F,
  color-translate2: #FF767F,
  color-Theme_O-Pie: #FFDC7F,
  color-gnome-pie071: #FF757C,
  color-gnome-pie066: #FF5842,
  color-formes-et-couleurs-01: #FF9E7F,
  color-gnome-pie_17: #FFBF7F,
  color-london: #FFD87F,
  color-color_splash: #DE54FF,
  color-translate: #7FF2FF,
  color-chameleon: #A3FF14,
  color-themes_for_gnome-pie: #FFC27F,
  color-gnome-pie057: #7FA2FF,
  color-properties: #E9FF36,
  color-gnome-pie064: #FFDF7F,
  color-gnome-pie072: #FFCF6A,
  color-gnome-pie065: #EA75FF,
  color-launchpad: #FFF260,
  color-signals: #FF7E56,
  color-gnome-pie070: #9C7FFF,
  color-bachelor01: #7FFFF1
);