@import url(https://fonts.googleapis.com/css?family=Advent+Pro);
@import url(https://fonts.googleapis.com/css?family=Oxygen);

/* Theme Vars */
$link-color: #FF9758;

$bg1: "../img/body_dark.png";
$bg2: "../img/body.png";

/* Compass Vars */
$default-box-shadow-color: #000;
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur: 1px;

//Page full height
html, body {
  height: 100%;
}

body {
  color:#bbb;
  text-shadow:1px 1px 1px #000;
  font-family: 'Oxygen', sans-serif;
  background: url($bg1) repeat;
}

a {
  color:$link-color;
  &:hover {
    color: lighten($link-color, 30);
    text-decoration:none;
  }
  @include transition(all 0.3s);
}

// headings --------------------------------------------------------------------

h1,h2,h3,h4,h5,h6 {
  margin:0;
  font-weight:normal;
  color:#999;
  text-rendering:optimizelegibility;
  font-family: 'Advent Pro', sans-serif;
}


h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight:normal;
  color:#999999;
}

h1 small {
  font-size: 18px;
}

h1 {
  margin: 0 0 15px;
}

h2 {
  margin: 30px 0 15px;
}

h3, h4 {
  margin: 20px 0 0;
}

h4 {
  font-size: 14px;
}

h1 {
  font-size:40px;
}

h2 {
  font-size: 30px;
}

pre, code {
  color:#ccc;
}

pre > code {
  /* Reset box-shadow for pygments */
  background:none;
  box-shadow:none;
  -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
}

hr {
  border:none;
  background:rgba(0,0,0,0.7);
  height:1px;
  margin: 12px 0;
}

p {
  padding-bottom:15px;
  line-height:25px;
  margin:0;
}

.zocial.googleplus:focus,
.zocial.googleplus:hover {
  color:#e01d30 !important;
}

.zocial.twitter:focus,
.zocial.twitter:hover {
  color:#46c0fb !important;
}

.zocial.linkedin:focus,
.zocial.linkedin:hover {
  color:#50a1cb !important;
}

.zocial.rss:focus,
.zocial.rss:hover {
  color:#fb9d3a !important;
}

.img-responsive {
  width: 100%;
}

/* Sticky footer */
$footerHeight: 150px;

#page-content {

  img {
    border-top: 1px solid #373737;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  }

  margin-top: -10px;
  margin-bottom: ($footerHeight + 40);
}

#page-background {
  padding-top:30px;
  padding-bottom:30px;
  background-color: #2a2a2a;
  background: url($bg2) repeat;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8);
  border-top: 1px solid #373737;
}


//footer fixed height
footer {

  text-shadow:none;

  .container {
    text-align:center;
  }

  position:fixed;
  bottom:0;
  z-index:-1;
  height: $footerHeight;
  width: 100%;
  overflow: hidden;
}

ul.sub-nav {
  list-style: none;
  margin: 0 0 50px 0;

  li {
    margin: 0;
    list-style: none;
    margin:0;
  }
}

.page-header {
  font-family: 'Advent Pro', sans-serif;
  font-size: 30px;

  padding-top: 30px;
  padding-bottom: 17px;

  box-shadow: none;

  width:100%;
  border:none;
  margin: 0px;

  h1 {
    color:#eee;
    margin-bottom:0;
  }

  >.container {
    position:relative;
  }

  ul.main-nav {
    list-style: none;
    margin: 0 -10px;
    display: inline-block;

    &.brand {
      position:absolute;
      right:15px;
    }

    li {
      margin: 0;
      display:inline;
      padding: 9px 9px 12px 9px;
    }
  }

  li.active {
    background-color: #2a2a2a;
    background: url($bg2) repeat ;
    border-top: 1px solid #373737;
    @include border-radius(3px);
  }
}

@media only screen and (max-width:600px) {
  .page-header {
    font-size: 20px;
  }
}

@media only screen and (max-width:400px) {
  .page-header {
    font-size: 15px;
  }
}



// slider ----------------------------------------------------------------------

.kwicks {
  height:500px;
  margin-bottom:30px;
}

.kwicks > li {
  height:500px;
  border-top: 1px solid #373737;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
  overflow: hidden;

  .description {
    display: none;
    color:#D7D7D7;

    h2 {
      color:#D7D7D7;
      margin-top:10px;
    }

    width:100%;

    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 15px 15px 15px;
    bottom: 0;
    position: absolute;
  }

  .bg {
    height:100%;
    width:100%;
    background-size:cover;
  }
}

// blog style ------------------------------------------------------------------
div.teaser {
  width:100%;
  height: 300px;

  background-size: cover;
  background-position: 50% 50%;

  border-top: 1px solid #373737;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.post-preview {
  margin-top: 20px;
  margin-bottom: 30px;
  position:relative;
}

// banners ---------------------------------------------------------------------

.banner-right {
  &::before {
    content: "";
    position: absolute;
    top: -11px;
    right: 0;
    border-color: transparent transparent #111 #111 ;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
  }

  margin: 20px 5px 0 0;
  padding: 5px 12px;
  @include border-radius(2px 0 0 2px);
  position: absolute;
  right:0;
  border-top: 1px solid #373737;
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.8));
  @include background-image(linear-gradient(to bottom, #2f2f2f, #1f1f1f));
}

.banner-left {
  &::before {
    content: "";
    position: absolute;
    top: -11px;
    left: 0;
    border-color: transparent #111 #111 transparent;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
  }

  margin: 20px 0 0 -10px;
  padding: 5px 12px;
  @include border-radius(2px 0 0 2px);
  position: absolute;
  left:15px;
  border-top: 1px solid #373737;
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.8));
  @include background-image(linear-gradient(to bottom, #2f2f2f, #1f1f1f));
}

// responsive video ------------------------------------------------------------

.responsive-video-169 iframe,
.responsive-video-32 iframe,
.responsive-video-43 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-video-169,
.responsive-video-32,
.responsive-video-43 {
  border-top: 1px solid #373737;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  position: relative;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}

.responsive-video-169 {
  padding-bottom: 56.25%;
}

.responsive-video-43 {
  padding-bottom: 75%;
}

.responsive-video-32 {
  padding-bottom: 66.66%;
}

.post-meta {
  margin-top: -20px;
}

// alerts ----------------------------------------------------------------------

.alert {
  background-color: rgba(250, 167, 50, 0.29);
  border-color: rgba(255, 157, 18, 0.1);
}

// magnific zoom ---------------------------------------------------------------
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.image-right {
  float: right;
  margin: 5px 0 10px 15px;
  width: 42%;
  height: auto;
}

// toc -------------------------------------------------------------------------
#toc {
  ul {
    margin-top: -15px;
    list-style: none;

    a {
      color:#bbb;
      &:hover {
        color:$link-color;
      }
      @include transition(all 0.1s);
    }

    li {

      &.toc-active a {
          color:$link-color;
      }

      list-style: none;

      &.toc-h1 {
        margin:15px 0 0 0;
      }
      &.toc-h2 {
        margin:5px 0 0 0;
      }
      &.toc-h3 {
        margin:0 0 0 0;
      }
    }
  }
}
