@import url(https://fonts.googleapis.com/css?family=Advent+Pro);
@import url(https://fonts.googleapis.com/css?family=Oxygen);

/* Theme Vars */
$bg1: "../img/body_dark.png";
$bg2: "../img/body.png";
$bg3: "../img/body_bright.png";

/* Compass Vars */
$default-box-shadow-color: #000;
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur: 1px;

@mixin link-color() {
  @each $class, $color in $link-colors {
    .#{$class} & {
      color: $color;
    }
  }
}
@mixin link-color-background() {
  @each $class, $color in $link-colors {
    .#{$class} & {
      background-color: rgba($color, 0.1);
    }
  }
}
@mixin link-color-highlight() {
  @each $class, $color in $link-colors {
    .#{$class} & {
      color: lighten($color, 20);
    }
  }
}

body {
  color:#bbb;
  text-shadow:1px 1px 1px #000;
  font-family: 'Oxygen', sans-serif;
  background: url($bg1) repeat;
  background-attachment: fixed;
}

a {
  @include link-color();
  &:hover,
  &:focus,
  &:active {
    @include link-color-highlight();
    text-decoration:none;
  }
}

em {
  font-style: italic;
}

ol, ul {
  list-style: circle;
  margin-left: 18px;
}

li {
  padding: 4px 0;
}

.lazy {
  display: none;
}

.breadcrumbs {
  margin: 0;
  list-style: none;
  display: inline;

  li {
    display: inline-block;
    padding: 0;

    .divider {
      padding: 0 0 0 6px;
    }
  }
}

// tabs ------------------------------------------------------------------------
ul.nav {
  margin-left: 0px;
  right: 0;

  li {
    float:right;
    padding: 0;

    a {
      @include border-radius(4px 4px 0 0);
      padding: 5px 12px;
    }

    a:hover {
      @include link-color();
    }
  }

  li.active a:hover,
  li.active a:focus,
  li.active a {
    @include link-color-background();
  }
}

// headings --------------------------------------------------------------------

h1,h2,h3,h4,h5,h6 {
  margin:0;
  font-weight:normal;
  color:#999;
  text-rendering:optimizelegibility;
  font-family: 'Advent Pro', sans-serif;

  small {
    font-weight:normal;
    color:inherit;
  }
}

h1 {
  font-size:40px;
  margin: 0 0 15px;

  small {
    font-size: 18px;
  }

  &:before {
    content:"";
    display:block;
    height:100px; /* fixed header height*/
    margin:-100px 0 0; /* negative fixed header height */
  }
}

h2 {
  font-size: 30px;
  margin: 40px 0 15px;

  &:before {
    content:"";
    display:block;
    height:60px; /* fixed header height*/
    margin:-60px 0 0; /* negative fixed header height */
  }
}

h3 {
  font-size: 24px;
  margin: 30px 0 15px;
}

h4 {
  font-size: 20px;
  margin: 30px 0 15px;
}

h5 {
  font-size: 16px;
  margin: 16px 0 0px;
}

.highlight {
  position: relative;
}

pre, code {
  color:#ccc;
  @include transition(height 0.3s);
  overflow-y: hidden;
  position: relative;
  &.collapsed {
    height: 92px !important;
  }
}

.code-expander {
  position: absolute;
  right: 0;
  top: 0;
  z-index:1;
  padding: 6px 10px 6px 12px;
  background: url($bg2) repeat;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  @include link-color();
  @include border-radius(0 0 0 4px);
  cursor: pointer;

  &:hover {
    @include link-color-highlight();
  }
}


pre > code {
  // white-space: pre;
  overflow: auto;
  background:none;
  box-shadow:none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

hr {
  border:none;
  background:rgba(0,0,0,0.7);
  height:1px;
  margin: 12px 0;
}

p {
  padding-bottom:15px;
  line-height:25px;
  margin:0;
  text-align: justify;
}

.social-icons {
  font-size: 1.6em;
  letter-spacing: 1em;
}

.img-responsive {
  width: 100%;
  max-width:inherit;
}

.before-after-slider {
  position: relative;

  .label {
    position: absolute;
    bottom: 0;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    @include box-shadow(none);
  }

  .after .label {
    right: 0;
    @include border-radius(4px 0 0 0);
  }

  .before {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;

    .label {
      left: 0;
      @include border-radius(0 4px 0 0);
    }

    img {
      height: 100%;
      width: auto;
    }
  }
}


/* Sticky footer */
$footerHeight: 150px;

#page-content {

  img {
    border-top: 1px solid #373737;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  }

  margin-bottom: ($footerHeight + 40);
}

#page-background {
  margin-top: 80px;
  padding-top:20px;
  padding-bottom:30px;
  background-color: #2a2a2a;
  background: url($bg2) repeat;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8);
  border-top: 1px solid #373737;
}

@media only screen and (max-width:600px) {
  #page-background {
    margin-top: 60px;
  }
}



//footer fixed height
footer {

  text-shadow:none;

  p {
    text-align:center;
  }

  position:fixed;
  bottom:0;
  z-index:-1;
  height: $footerHeight;
  width: 100%;
  overflow: hidden;
}

.sub-nav {
  @media only screen and (max-width:930px) {
    text-align: center;
  }

  ul {
    list-style: none;
    margin: 0 0 50px 0;

    li {
      margin: 0;
      list-style: none;
      margin:0;
    }
  }
}

.page-header {
  font-family: 'Advent Pro', sans-serif;
  font-size: 25px;
  position: fixed;
  background: url($bg2) repeat;
  background-size: auto 100%;
  z-index: 2;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8);
  top: 0;
  padding: 13px 0 6px 0;

  width:100%;
  margin: 0;

  @include transition(all 300ms);

  &.shrink {
    background: url($bg3) repeat;
    font-size:20px;
    padding: 5px 0;
  }

  h1 {
    color:#eee;
    margin-bottom:0;
  }

  >.container {
    position:relative;
  }

  ul.main-nav {
    list-style: none;
    margin: 0 -10px;
    display: inline-block;

    &.brand {
      position:absolute;
      right:15px;
      margin: 0;
    }

    li {
      margin: 0;
      display:inline;
      padding: 9px 9px 12px 9px;
    }
  }

  li.active {

  }
}

.post-header {
  position: relative;
  height: 300px;
}

@media only screen and (max-width:600px) {
  .page-header {
    font-size: 18px;

    &.shrink {
      font-size:18px;
    }
  }
}




// slider ----------------------------------------------------------------------
.accordion {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
  height: 0;

  position: relative;
  overflow: hidden;

  margin-bottom: 16px;

  ul {
    margin: 0;
    padding: 0;
    font-size: 0;

    li {
      height: 0;
      margin: 0;
      padding: 0;
      @include transition(all 400ms);
      border-top: 1px solid #373737;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
      display: inline-block;
      position: relative;

      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      font-size: 14px;

      div {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px 20px 0 20px;

        overflow: hidden;
        opacity: 0;

        @include transition(all 300ms);
        @include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%));

        h2 {
          @include transition(all 500ms);
          @include translateX(-30px);
          padding-bottom:0;
          color:#fff;
        }

        a {
          display: inline-block;
          @include transition(all 500ms);
          @include translateX(-30px);
        }

        p {
          display: inline-block;
          @include transition(all 500ms);
          @include translateX(-60px);
          color:#fff;
        }
      }

      &:hover div {
        opacity: 1;

        h2, a, p {
          @include translateX(0px);
        }
      }
    }
  }

  @for $slides from 3 through 10 {
    &.accordion-items-#{$slides} {

      $accordion_aspect_ratio: 1 + $slides / 5;
      $slide_aspect_ratio: 4/3;

      $slide_h: 100% / $accordion_aspect_ratio;
      $slide_w: $slide_h * $slide_aspect_ratio;

      padding-bottom: $slide_h;

      ul li {
        width: $slide_w;
        margin-right: 100% / $slides - $slide_w;
        padding-bottom: $slide_h;
      }

      ul:hover li {
        margin-right: (100%-$slide_w) / ($slides - 1) - $slide_w;
      }

      ul:hover li:hover {
        margin-right: 0;
      }
    }
  }
}


// blog style ------------------------------------------------------------------
div.teaser {
  width:100%;
  height: 300px;


  position: relative;
  padding-bottom: 50%;

  background-size: cover;
  background-position: 50% 50%;

  color: #fff;

  margin-bottom: 30px;

  border-top: 1px solid #373737;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);

  .caption {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 60px 20px 0px 20px;
    white-space: normal;

    @include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%));

    p {
      text-align: left;
    }

    h1, p {
      margin: 0;
      width: 100%;
      position: relative;
    }

    h1 {
      text-overflow: ellipsis;
      color: inherit;
    }
  }
}

.post-preview {
  margin-top: 30px;
  margin-bottom: 0px;
  position:relative;

  &:first-child {
    margin-top: 0px;
  }
}

table {
    width: 100%;

    td, th {
      line-height: 1.42857143;
      padding: 8px;
      vertical-align: center;

    }

    tbody {
      tr {
        border-bottom: 1px solid #373737;

        &:hover {
          background-color: #222;
        }
      }
    }

    thead {
      tr {
        border-bottom: 3px solid #373737;
      }
    }
}

// banners ---------------------------------------------------------------------

.banner-right {
  &::before {
    content: "";
    position: absolute;
    top: -11px;
    right: 0;
    border-color: transparent transparent #111 #111 ;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
  }

  i {
    margin-right: 5px;
  }

  margin: 20px 5px 0 0;
  padding: 5px 12px;
  @include border-radius(2px 0 0 2px);
  position: absolute;
  right:0;
  z-index: 1;
  border-top: 1px solid #373737;
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.8));
  @include background-image(linear-gradient(to bottom, #2f2f2f, #1f1f1f));
}

.banner-left {
  &::before {
    content: "";
    position: absolute;
    top: -11px;
    left: 0;
    border-color: transparent #111 #111 transparent;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
  }

  i {
    margin-right: 5px;
  }

  margin: 20px 0 0 -10px;
  padding: 5px 12px;
  @include border-radius(2px 0 0 2px);
  position: absolute;
  left:15px;
  z-index: 1;
  border-top: 1px solid #373737;
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.8));
  @include background-image(linear-gradient(to bottom, #2f2f2f, #1f1f1f));
}

// responsive video ------------------------------------------------------------

.responsive-video-1610 iframe,
.responsive-video-169 iframe,
.responsive-video-53 iframe,
.responsive-video-32 iframe,
.responsive-video-43 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-video-1610,
.responsive-video-169,
.responsive-video-53,
.responsive-video-32,
.responsive-video-43 {
  border-top: 1px solid #373737;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  position: relative;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}

.responsive-video-169 {
  padding-bottom: 56.25%;
}

.responsive-video-1610 {
  padding-bottom: 62.5%;
}

.responsive-video-43 {
  padding-bottom: 75%;
}

.responsive-video-53 {
  padding-bottom: 60%;
}

.responsive-video-32 {
  padding-bottom: 66.66%;
}

.post-meta {
  margin-top: -15px;
}

// alerts ----------------------------------------------------------------------
.alert {
  background-color: rgba(250, 167, 50, 0.29);
}

.adaptive-alert {
  @include link-color-background();
}

// quotes ----------------------------------------------------------------------
p.quote {
  padding: 0 0 0 10px;
  border-left: 4px #555 solid;
}

// magnific zoom ---------------------------------------------------------------
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.image-right {
  float: right;
  margin: 5px 0 10px 15px;
  width: 42%;
  height: auto;
}

// toc -------------------------------------------------------------------------
#toc {
  ul {
    margin-top: -15px;
    list-style: none;

    a {
      color:#bbb;
      &:hover {
        @include link-color();
      }
    }

    li {

      &.toc-active a {
        @include link-color();
      }

      list-style: none;

      &.toc-h1 {
        margin:10px 0 0 0;
      }
      &.toc-h2 {
        margin:0px 0 0 0;
      }
      &.toc-h3 {
        margin:0 0 0 0;
      }
    }
  }
}
