@import url(https://fonts.googleapis.com/css?family=Advent+Pro);
@import url(https://fonts.googleapis.com/css?family=Oxygen);

/* Theme Vars */
$bg1: "../img/body_dark.png";
$bg2: "../img/body.png";

/* Compass Vars */
$default-box-shadow-color: #000;
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur: 1px;

@mixin link-color() {
  @each $class, $color in $link-colors {
    .#{$class} & {
      color: $color;
    }
  }
}
@mixin link-color-background() {
  @each $class, $color in $link-colors {
    .#{$class} & {
      background-color: rgba($color, 0.1);
    }
  }
}
@mixin link-color-highlight() {
  @each $class, $color in $link-colors {
    .#{$class} & {
      color: lighten($color, 20);
    }
  }
}

//Page full height
html, body {
  height: 100%;
}

body {
  color:#bbb;
  text-shadow:1px 1px 1px #000;
  font-family: 'Oxygen', sans-serif;
  background: url($bg1) repeat;
  background-attachment: fixed;
}

a {
  @include link-color();
  &:hover,
  &:focus,
  &:active {
    @include link-color-highlight();
    text-decoration:none;
  }
}

em {
  font-style: italic;
}

ol, ul {
  list-style: circle;
  margin-left: 18px;
}

li {
  padding: 4px 0;
}

.lazy {
  display: none;
}

// tabs ------------------------------------------------------------------------
ul.nav {
  margin-left: 0px;
  right: 0;

  li {
    float:right;
    padding: 0;

    a {
      @include border-radius(4px 4px 0 0);
      padding: 5px 12px;
    }

    a:hover {
      @include link-color();
    }
  }

  li.active a:hover,
  li.active a:focus,
  li.active a {
    @include link-color-background();
  }
}

// headings --------------------------------------------------------------------

h1,h2,h3,h4,h5,h6 {
  margin:0;
  font-weight:normal;
  color:#999;
  text-rendering:optimizelegibility;
  font-family: 'Advent Pro', sans-serif;

  small {
    font-weight:normal;
    color:#999999;
  }
}

h1 {
  font-size:40px;
  margin: 0 0 15px;

  small {
    font-size: 18px;
  }
}

h2 {
  font-size: 30px;
  margin: 40px 0 15px;
}

h3 {
  font-size: 24px;
  margin: 30px 0 15px;
}

h4 {
  font-size: 20px;
  margin: 30px 0 15px;
}

h5 {
  font-size: 16px;
  margin: 16px 0 0px;
}

.highlight {
  position: relative;
}

pre, code {
  color:#ccc;
  @include transition(height 0.3s);
  overflow-y: hidden;
  position: relative;
  &.collapsed {
    height: 92px !important;
  }
}

.code-expander {
  position: absolute;
  right: 0;
  top: 0;
  z-index:1;
  padding: 6px 10px 6px 12px;
  background: url($bg2) repeat;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  @include link-color();
  @include border-radius(0 0 0 4px);
  cursor: pointer;

  &:hover {
    @include link-color-highlight();
  }
}


pre > code {
  // white-space: pre;
  overflow: auto;
  background:none;
  box-shadow:none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

hr {
  border:none;
  background:rgba(0,0,0,0.7);
  height:1px;
  margin: 12px 0;
}

p {
  padding-bottom:15px;
  line-height:25px;
  margin:0;
  text-align: justify;
}

.social-icons {
  font-size: 1.6em;
  letter-spacing: 1em;
}

.img-responsive {
  width: 100%;
}

/* Sticky footer */
$footerHeight: 150px;

#page-content {

  img {
    border-top: 1px solid #373737;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  }

  margin-top: -10px;
  margin-bottom: ($footerHeight + 40);
}

#page-background {
  padding-top:30px;
  padding-bottom:30px;
  background-color: #2a2a2a;
  background: url($bg2) repeat;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8);
  border-top: 1px solid #373737;
}


//footer fixed height
footer {

  text-shadow:none;

  p {
    text-align:center;
  }

  position:fixed;
  bottom:0;
  z-index:-1;
  height: $footerHeight;
  width: 100%;
  overflow: hidden;
}

.sub-nav {
  @media only screen and (max-width:930px) {
    text-align: center;
  }

  ul {
    list-style: none;
    margin: 0 0 50px 0;

    li {
      margin: 0;
      list-style: none;
      margin:0;
    }
  }
}

.page-header {
  font-family: 'Advent Pro', sans-serif;
  font-size: 30px;

  padding-top: 30px;
  padding-bottom: 17px;

  box-shadow: none;

  width:100%;
  border:none;
  margin: 0px;

  h1 {
    color:#eee;
    margin-bottom:0;
  }

  >.container {
    position:relative;
  }

  ul.main-nav {
    list-style: none;
    margin: 0 -10px;
    display: inline-block;

    &.brand {
      position:absolute;
      right:15px;
    }

    li {
      margin: 0;
      display:inline;
      padding: 9px 9px 12px 9px;
    }
  }

  li.active {
    background-color: #2a2a2a;
    background: url($bg2) repeat ;
    border-top: 1px solid #373737;
    @include border-radius(3px);
  }
}

@media only screen and (max-width:600px) {
  .page-header {
    font-size: 20px;
  }
}

@media only screen and (max-width:400px) {
  .page-header {
    font-size: 15px;
  }
}



// slider ----------------------------------------------------------------------

.accordion {
  margin: 30px auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1);

  position: relative;
  overflow: hidden;

  ul {
    white-space: nowrap;
    margin: 0;
    padding: 0;
    font-size: 0;

    li {
      font-size: 14px;

      @media only screen and (max-width:600px) {
        font-size: 12px;
      }

      @media only screen and (max-width:400px) {
        font-size: 10px;
      }

      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      @include transition(all 400ms);
      padding: 0;
      border-top: 1px solid #373737;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
      display: inline-block;
      position: relative;

      div {
        position: absolute;
        bottom: 0;
        width: 100%;

        a {
          display: block;
          width: 100%;
          position: relative;
          padding: 130px 20px 0 20px;
          @include transition(all 200ms);
          white-space: normal;
          opacity: 0;

          @include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%));

          p {
            text-align: left;
          }

          h2, p {
            opacity: 0;
            margin: 0;
            width: 100%;
            position: relative;

            @include translateX(-30px);
            @include transition(all 500ms);

            &.read-on {
              @include translateX(-60px);
            }
          }

          h2 {
            text-overflow: ellipsis;
            color: inherit;

            @media only screen and (max-width:600px) {
              display: none;
            }
          }
        }
      }
    }

    &:hover li:hover a {
      opacity: 1;

      h2, p {
        opacity: 1;
        @include translateX(0);
      }
    }
  }

  &.large {
    height: 0;
    padding-bottom: 56.25%;

    ul li {
      width: 75%;
      height: 0;
      padding-bottom: 56.25%;
      margin: 0 -41.667% 0 0;
    }

    ul:hover li { margin: 0 -62.5% 0 0; }
    ul:hover li:hover { margin: 0; }
  }

  &.medium {
    height: 0;
    padding-bottom: 53%;

    ul li {
      width: 75%;
      height: 0;
      padding-bottom: 53%;
      margin: 0 -50% 0 0;
    }

    ul:hover li { margin: 0 -66.667% 0 0; }
    ul:hover li:hover { margin: 0; }
  }

  &.small {
    height: 0;
    padding-bottom: 30%;

    ul li {
      width: 45%;
      padding-bottom: 30%;
      height: 0;
      margin: 0 -35% 0 0;
    }

    ul:hover li { margin: 0 -38.889% 0 0; }
    ul:hover li:hover { margin: 0; }
  }

}

// blog style ------------------------------------------------------------------
div.teaser {
  width:100%;
  height: 300px;

  background-size: cover;
  background-position: 50% 50%;

  border-top: 1px solid #373737;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.post-preview {
  margin-top: 20px;
  margin-bottom: 30px;
  position:relative;
}

table {
    width: 100%;

    td, th {
      line-height: 1.42857143;
      padding: 8px;
      vertical-align: center;

    }

    tbody {
      tr {
        border-bottom: 1px solid #373737;

        &:hover {
          background-color: #222;
        }
      }
    }

    thead {
      tr {
        border-bottom: 3px solid #373737;
      }
    }
}

// banners ---------------------------------------------------------------------

.banner-right {
  &::before {
    content: "";
    position: absolute;
    top: -11px;
    right: 0;
    border-color: transparent transparent #111 #111 ;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
  }

  i {
    margin-right: 5px;
  }

  margin: 20px 5px 0 0;
  padding: 5px 12px;
  @include border-radius(2px 0 0 2px);
  position: absolute;
  right:0;
  border-top: 1px solid #373737;
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.8));
  @include background-image(linear-gradient(to bottom, #2f2f2f, #1f1f1f));
}

.banner-left {
  &::before {
    content: "";
    position: absolute;
    top: -11px;
    left: 0;
    border-color: transparent #111 #111 transparent;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
  }

  i {
    margin-right: 5px;
  }

  margin: 20px 0 0 -10px;
  padding: 5px 12px;
  @include border-radius(2px 0 0 2px);
  position: absolute;
  left:15px;
  border-top: 1px solid #373737;
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.8));
  @include background-image(linear-gradient(to bottom, #2f2f2f, #1f1f1f));
}

// responsive video ------------------------------------------------------------

.responsive-video-1610 iframe,
.responsive-video-169 iframe,
.responsive-video-53 iframe,
.responsive-video-32 iframe,
.responsive-video-43 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-video-1610,
.responsive-video-169,
.responsive-video-53,
.responsive-video-32,
.responsive-video-43 {
  border-top: 1px solid #373737;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  position: relative;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}

.responsive-video-169 {
  padding-bottom: 56.25%;
}

.responsive-video-1610 {
  padding-bottom: 62.5%;
}

.responsive-video-43 {
  padding-bottom: 75%;
}

.responsive-video-53 {
  padding-bottom: 60%;
}

.responsive-video-32 {
  padding-bottom: 66.66%;
}

.post-meta {
  margin-top: -20px;
}

// alerts ----------------------------------------------------------------------
.alert {
  background-color: rgba(250, 167, 50, 0.29);
}

.adaptive-alert {
  @include link-color-background();
}

// quotes ----------------------------------------------------------------------
p.quote {
  padding: 0 0 0 10px;
  border-left: 4px #555 solid;
}

// magnific zoom ---------------------------------------------------------------
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.image-right {
  float: right;
  margin: 5px 0 10px 15px;
  width: 42%;
  height: auto;
}

// toc -------------------------------------------------------------------------
#toc {
  ul {
    margin-top: -15px;
    list-style: none;

    a {
      color:#bbb;
      &:hover {
        @include link-color();
      }
    }

    li {

      &.toc-active a {
        @include link-color();
      }

      list-style: none;

      &.toc-h1 {
        margin:10px 0 0 0;
      }
      &.toc-h2 {
        margin:0px 0 0 0;
      }
      &.toc-h3 {
        margin:0 0 0 0;
      }
    }
  }
}
