@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap);

$font-stack: "Roboto",
sans-serif;
$h1-fontsize: 3.0em !default;
$h2-fontsize: 2.5em !default;
$h3-fontsize: 2.0em !default;
$h4-fontsize: 1.6em !default;
$h5-fontsize: 1.2em !default;
$h6-fontsize: 1.0em !default;

@import "materialize";

@import "colors";
@import "accordion";
@import "banners";
@import "theme-gallery";
@import "before-after-slider";
@import "responsive-media";



// adaptive link colors ------------------------------------------------------------------

@mixin link-color() {

  @each $class,
  $color in $link-colors {
    .#{$class} & {
      color: $color;
    }
  }
}

@mixin link-color-highlight() {

  @each $class,
  $color in $link-colors {
    .#{$class} & {
      color: lighten($color, 20);
    }
  }
}

.link-color-background {
  @each $class,
  $color in $link-colors {
    .#{$class} & {
      background-color: desaturate(darken($color, 45%), 50%);
    }
  }
}

.pagination li a,
a {
  @include link-color();

  &:hover,
  &:focus,
  &:active {
    @include link-color-highlight();
  }

  position: relative;

  &:active {
    top: 1px;
  }
}

.pagination li a {
  font-size: 1.1em;

  i {
    font-size: 1.1em;
  }
}

// dark theme ----------------------------------------------------------------------------

body {
  text-shadow: 1px 1px 2px #000;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-weight: 300;
  color: #fff;
  background-color: #222;
}

header,
main,
footer {
  background: url("../img/symphony.png");
  font-size: 0.7em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alegreya Sans SC", sans-serif;
  margin: 0.9em 0 0.2em 0;
}

h2 {
  padding-bottom: 20px;
  position: relative;
}

h2::before,
code,
.highlight>pre,
.well {
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.highlight>pre,
.well {
  min-height: 20px;
  padding: 14px;
  margin-bottom: 20px;
}

.inline-well {
  padding: 0;
  margin-bottom: 0;
}

.warning {
  background-color: rgb(109, 6, 6);
}

@for $num from 0 through 5 {
  .z-depth-#{$num} {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }
}

.rounded {
  border-radius: 4px;
  overflow: hidden;
}

.chip {
  border-radius: 6px;
  padding: 0 6px;
  height: auto;
  line-height: inherit;
  background: url("../img/body_dark.png");
  box-shadow: 0 0 2px #000;
}

nav ul a,
.breadcrumb {
  font-size: 1.1em;
}

nav {
  box-shadow: none;
  background: none;
  border: none;
}

.nav-wrapper {
  background: url("../img/body_dark.png");
  box-shadow: 0 0 10px #000;
}

.material-icons.top-offset {
  position: relative;
  top: 4px;
}

i.left {
  margin-right: 8px;
}

.page-header {
  padding: 30px 0 10px 0;
}

.excerpt {
  min-height: 180px;
}

.block {
  width: 100%;
}

.crop {
  overflow: hidden;
}

.materialbox-caption {
  font-size: 0.8em;
}

.btn,
.btn-large,
.btn-flat {
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  background: url("../img/body_dark.png");

  &:hover {
    background: url("../img/body_dark.png");
  }
}

.page-background {
  background: url("../img/body_dark.png");
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  border-top: 1px solid #272727;
  padding: 90px 0 10px 0;
  margin: -90px 0 30px 0;
}

.page-content {
  background: url("../img/body.png");
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  border-top: 1px solid #373737;
  margin-bottom: 25px;
}

main {
  position: relative;
  margin-bottom: -30px;
}

footer {
  padding: 30px 0;
}

.social-icons {
  letter-spacing: 1em;
}

.tabs {
  background-color: transparent;

  a {
    @include link-color();

    &:hover,
    &.active {
      @include link-color-highlight();
    }
  }
}

// hr ------------------------------------------------------------------------------------

hr {
  border: none;
  background: rgba(0, 0, 0, 0.7);
  height: 1px;
  margin: 12px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
}

// post preview image --------------------------------------------------------------------

.post-preview {
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 300px;
}

// lists ---------------------------------------------------------------------------------

section ul li {
  list-style-type: initial !important;
}

section ul {
  padding-left: 15px !important;
}

@media #{$medium-and-up} {
  #project-list:not(:hover) {
    li.preselected {
      width: 140px;
    }
  }
}

#project-list li {
  width: 40px;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s;

  @media #{$medium-and-up} {
    &:hover {
      width: 140px;
    }
  }
}

// beautiful code snippets ---------------------------------------------------------------

code {
  padding: 0.3em;
}

figure {
  margin: 1em 0px;
}

pre>code {
  padding: 0;
  overflow: auto;
  background: none;
  font-size: 1.0em;
  box-shadow: none;
}

pre {
  padding: 0;
  margin: 0;
}

.highlight {
  position: relative;
}

.highlight>pre,
code {
  color: #ccc;
  font-size: 0.7em;
  transition: height 0.3s;
  overflow-y: hidden;
  position: relative;

  &.collapsed {
    height: 115px !important;
  }
}

.code-expander {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  font-size: 0.8em;
  padding: 4px 6px 4px 8px;
  background: url("../img/body.png") repeat;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  @include link-color();
  border-radius: 0 0 0 4px;
  cursor: pointer;

  &:hover {
    @include link-color-highlight();
  }
}

.lineno {
  color: #444;
}

td.code {
  padding: 0;
}

td.gutter {
  padding: 0 5px 0 0;
}

// quote ---------------------------------------------------------------------------------

.quote {
  font-style: italic;
  font-size: 1.1em;
  margin-bottom: 6px;
  border-left: 5px solid #444;
  padding: 8px 8px 8px 12px;
  line-height: 1.4;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 7px 0px inset;
}

// table of contents ---------------------------------------------------------------------

#sidebar h5 {
  margin: 1.12em 0 .256em 0;
}

#toc {
  li {
    a {
      padding: 3px 0 3px 10px;
      border-left: 1px solid transparent;
      display: block;
      line-height: 1.3em;

      &.active {
        border-left: 1px solid white;
        color: white;
      }
    }
  }
}