div.gallery-item {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;

  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  overflow: hidden;

  margin-bottom: 10px;

  .caption {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    white-space: normal;
    opacity: 0;

    background-image: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,1));
    transition: all 300ms;

    p {
      text-align: left;
    }

    h1, p {
      margin: 0;
      width: 100%;
      position: relative;
    }

    h1 {
      text-overflow: ellipsis;
      color: inherit;
      font-size: 1.8em;

      &:before {
        height: 0px;
        margin: 0;
        opacity: 0;
      }
    }
  }

  &:hover {
    .caption {
      opacity: 1;
    }
  }
}

// one column
.grid-sizer,
.grid-item { width: 100%; }
.gutter-sizer { width: 0%; }

// two columns
@media only screen and (min-width: 601px) {
  .grid-sizer,
  .grid-item {
    width: 49%; 
    &.item-size-2,
    &.item-size-3 {
      width: 100%; 
    }
  }
  .gutter-sizer { width: 2%; }
}

// three columns
@media only screen and (min-width: 993px) {
  .grid-sizer,
  .grid-item {
    width: 32%; 
    &.item-size-2 {
      width: 66%; 
    }
    &.item-size-3 {
      width: 100%; 
    }
  }
  .gutter-sizer { width: 2%; }
}

@media only screen and (min-width: 1201px) {
  .grid-sizer,
  .grid-item {
    width: 33%; 
    &.item-size-2 {
      width: 66.5%; 
    }
    &.item-size-3 {
      width: 100%; 
    }
  }
  .gutter-sizer { width: 0.5%; }
}

