@import "compass";
@import "materialize";
@import "colors";
@import "accordion";
@import "banners";
@import "gallery";
@import "theme-gallery";
@import "before-after-slider";
@import "responsive-media";

@import url(https://fonts.googleapis.com/css?family=Advent+Pro);

// adaptive link colors ------------------------------------------------------------------

@mixin link-color() {
  @each $class, $color in $link-colors {
    .#{$class} & {
      color: $color;
    }
  }
}
@mixin link-color-background() {
  @each $class, $color in $link-colors {
    .#{$class} & {
      background-color: $color;
    }
  }
}
@mixin link-color-background-lighten() {
  @each $class, $color in $link-colors {
    .#{$class} & {
      background-color: lighten($color, 20);
    }
  }
}
@mixin link-color-background-darken() {
  @each $class, $color in $link-colors {
    .#{$class} & {
      background-color: darken($color, 20);
    }
  }
}
@mixin link-color-background-transparent() {
  @each $class, $color in $link-colors {
    .#{$class} & {
      background-color: rgba(lighten($color, 35), 0.7);
    }
  }
}
@mixin link-color-highlight() {
  @each $class, $color in $link-colors {
    .#{$class} & {
      color: lighten($color, 20);
    }
  }
}

.pagination li a,
a {
  @include link-color();
  &:hover,
  &:focus,
  &:active {
    @include link-color-highlight();
  }
}



.splash-background {
  // @include link-color-background();
}

.splash-background-dark {
  // @include link-color-background-darken();
}

.splash-background-lght {
  // @include link-color-background-lighten();
}

.splash-background-transparent {
  // @include link-color-background-transparent();
}


// helpers -------------------------------------------------------------------------------

.hidden {
  display: none;
}


// font ----------------------------------------------------------------------------------

h1,h2,h3,h4,h5,h6 {
  font-family: 'Advent Pro', sans-serif;
}


// dark theme ----------------------------------------------------------------------------

body {
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 300;
    text-shadow: 1px 1px 2px #000;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #222;
    color: #fff;
}

header,
main,
footer {
    background: url("../img/paper.png");
    // background-attachment: fixed;
}

code,
pre,
.well {
    @include box-shadow(rgba(255,255,255,0.1) 0 1px 0,rgba(0,0,0,0.8) 0 1px 7px 0px inset);
    background-color: rgba(0,0,0,0.3);
    border-radius: 4px;
}

pre,
.well {
    min-height: 20px;
    padding: 14px 8px;
    margin-bottom: 20px;
}

.inline-well {
  padding: 0;
  margin-bottom: 0;
}

code {
  padding: 5px;
}

pre > code {
  padding: 0px;
}

@for $num from 0 through 5 {
  .z-depth-#{$num} {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }
}

.chip {
    @include border-radius(6px);
    padding: 0 6px;
    height: auto;
    line-height: inherit;
    background: url("../img/body_dark.png");
    @include box-shadow(0 0 2px #000);
}

nav {
    @include box-shadow(none);
    background: none;
    border: none;
}

.nav-wrapper {
  background: url("../img/body_dark.png");
  @include box-shadow(0 0 10px #000);
}

.material-icons.top-offset {
  position: relative;
  top: 3px;
}

i.left {
    margin-right: 8px;
}

.page-header {
  padding: 40px 0 10px 0;

  h1 {
    margin: 0 0 6px 0;
  }
}

.excerpt {
  min-height: 180px;
}

.block {
  width: 100%;
}

.crop {
  overflow: hidden;
}

.btn, .btn-large, .btn-flat {
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  background: url("../img/body_dark.png");

  &:hover {
    background: url("../img/body_dark.png");
  }
}

.page-background {
  background: url("../img/body_dark.png");
  @include box-shadow(0 0 10px #000);
  border-top: 1px solid #272727;
  padding: 90px 0 10px 0;
  margin: -90px 0 30px 0;
}

.page-content {
  background: url("../img/body.png");
  @include box-shadow(0 0 10px #000);
  border-top: 1px solid #373737;
  margin-bottom: 25px;
}

main {
  position: relative;
  margin-bottom: -30px;
}

footer {
    padding: 30px 0;
}

.social-icons {
  letter-spacing: 1rem;
}

// hr ------------------------------------------------------------------------------------

hr {
  border:none;
  background:rgba(0,0,0,0.7);
  height:1px;
  margin: 12px 0;
  @include box-shadow(rgba(255,255,255,0.07) 0 1px 0);
}

// post preview image --------------------------------------------------------------------

.post-preview {
  width:100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 300px;
}

// lists ---------------------------------------------------------------------------------

section ul li {
  list-style-type: initial !important;
}

section ul {
  padding-left: 15px !important;
}

// beautiful code snippets ---------------------------------------------------------------

.highlight {
  position: relative;
}

pre, code {
  color:#ccc;
  font-size: 0.9rem;
  @include transition(height 0.3s);
  overflow-y: hidden;
  position: relative;
  &.collapsed {
    height: 92px !important;
  }
}

.code-expander {
  position: absolute;
  right: 0;
  top: 0;
  z-index:1;
  font-size: 0.8rem;
  padding: 4px 6px 4px 8px;
  background: url("../img/body.png") repeat;
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.8));
  @include link-color();
  @include border-radius(0 0 0 4px);
  cursor: pointer;

  &:hover {
    @include link-color-highlight();
  }
}

figure {
  margin: 1em 0px;
}


pre > code {
  overflow: auto;
  background:none;
  @include box-shadow(none);
}

// table of contents ---------------------------------------------------------------------

#sidebar-container {
  padding-top: 80px
}

#sidebar h5 {
  margin: 1.12rem 0 .256rem 0;
}

#toc {
  li {
    a {
      padding: 3px 0 3px 10px;
      border-left: 1px solid transparent;
      display: block;
      line-height: 1.3em;

      &.active {
        border-left: 1px solid white;
        color: white;
      }
    }
  }
}

