---
layout: page
title : Blog
group: blog
description: "Blog of Simon Schneegans. Read news on Gnome-Pie, M.A.R.S.2 and other things I'm working on."
colors: color-fallback
---


{% for post in paginator.posts %}

<div class="row post-preview {{post.colors}}">
  <div class="col-sm-6 visible-xs">
    <h1>
      <a href="{{post.url}}">{{post.title}}</a>
    </h1>
    <div class="banner-right"><i class="fa fa-pencil"></i> {{post.date | date_to_string}}</div>
    <a href="{{post.url}}"><div class="teaser" style="background-image:url(/assets/pictures/medium/{{post.teaser}})"> </div></a>
    <br />
    {{post.excerpt}}
  </div>
  <div class="col-sm-6 hidden-xs">
    <h1>
      <a href="{{post.url}}">{{post.title}}</a>
    </h1>
    {{post.excerpt}}
    <a href="{{post.url}}">read on <i class="fa fa-angle-right"></i></a>
  </div>
  <div class="col-sm-6 hidden-xs">
    <div class="banner-right"><i class="fa fa-pencil"></i> {{post.date | date_to_long_string}}</div>
    <a href="{{post.url}}"><div class="teaser" style="background-image:url(/assets/pictures/medium/{{post.teaser}})">  </div></a>
  </div>
</div>

{% if forloop.last %}{% else %}<hr>{% endif %}
{% endfor %}

<div class="well">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class=""><i class="fa fa-angle-left"></i> older posts</a>
  {% else %}
    <!-- <span class="btn disabled">Older posts</span> -->
  {% endif %}

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pull-right">newer posts <i class="fa fa-angle-right"></i></a>
  {% else %}
    <!-- <span class="btn disabled">Newer posts</span> -->
  {% endif %}
</div>
