---
layout: page
title : Blog
group: blog
description: "Blog of Simon Schneegans. Read news on Gnome-Pie, M.A.R.S.2 and other things I'm working on."
colors: color-fallback
parents: []
---

{% for post in paginator.posts %}

{% include post %}

{% if forloop.last %}{% else %}<hr>{% endif %}
{% endfor %}

<div class="well">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class=""><i class="fa fa-angle-left"></i> older posts</a>
  {% else %}
    <!-- <span class="btn disabled">Older posts</span> -->
  {% endif %}

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pull-right">newer posts <i class="fa fa-angle-right"></i></a>
  {% else %}
    <!-- <span class="btn disabled">Newer posts</span> -->
  {% endif %}
</div>
