<div class="page-header">
  <h1>
    {{ page.title }}
    {% if page.tagline %}
      <small>{{ page.tagline }}</small>
    {% endif %}
  </h1>
  <hr>
</div>

<div class="row">
  <div class="span8">

    <a class="magnific-image" href="{{ site.url }}/assets/pictures/{{page.teaser}}"><div class="teaser" style="background-image:url({{ site.url }}/assets/pictures/{{page.teaser}})"></div></a>
    <br />

    {{ content }}

    <br />

    <div class="well">
      {% if page.previous %}
        <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&laquo; {{page.previous.title}}</a>
      {% endif %}
      {% if page.next %}
        <a class="pull-right" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </div>
    <br />
    <hr>
    <br />
    <br />
    {% include JB/comments %}
  </div>

  <div class="span4 hidden-phone post-meta">
    <section>
      <h4>Published</h4>
      <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
    </section>
    {% if page.category %}
      <section>
        <h4>Category</h4>
        <span class="category">
          {{ page.category }}
        </span>
      </section>
    {% endif %}
  </div>
</div>
