---
layout: default
---

<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col  m9 s12">
        <h1>{{page.title}}</h1>
        <p>{{page.excerpt}}</p>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="page-background" style="padding-top: 35px; margin-top: -35px">
  <div class="page-content">

    {{ content }}

    {% if page.contents %}
    <div id="sidebar-container" class="col s3 hide-on-small-only">
      <div id="sidebar">
        <h5><i class="material-icons top-offset">dehaze</i> Contents</h5>
        <ul id="toc"></ul>
      </div>
    </div>
    {% endif %}
  </div>
</div>