---
layout: default
---

<div class="row">
  <div class="col-sm-8">

    {% if page.teaser %}
      <a class="magnific-image" title="{{page.description}}" href="/assets/pictures/{{page.teaser}}">
        <div class="teaser" style="background-image:url(/assets/pictures/large/{{page.teaser}})">
          <div class="caption">

            <h1>
              {{ page.title }}
            </h1>
            {% if page.tagline %}
              <p>{{ page.tagline }}</p>
            {% endif %}
          </div>
        </div>
      </a>
    {% endif %}

    {{ content }}
  </div>
  <div class="col-sm-4 hidden-xs">
    <div id="toc"></div>
  </div>
</div>

