---
layout: default
---


<div class="row">
  <div class="col-sm-9 col-md-8">
    <a class="magnific-image" title="{{page.description}}" href="/assets/pictures/{{page.teaser}}">
      <div class="teaser" style="background-image:url(/assets/pictures/large/{{page.teaser}})">
        <div class="caption">

          <h1>
            {{ page.title }}
          </h1>
          {% if page.tagline %}
            <p>{{ page.tagline }}</p>
          {% endif %}
        </div>
      </div>
    </a>

    {{ content }}

    <hr>
    <br />

    <div class="well">
      {% if page.previous %}
        <span style="margin:0 9px">
          Previous post:
        </span>
      {% endif %}
      {% if page.next %}
        <span class="pull-right" style="margin:0 9px">
          Next post:
        </span>
      {% endif %}
      <br />
      {% if page.previous %}
        <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}"><i class="fa fa-angle-left"></i> {{page.previous.title}}</a>
      {% endif %}
      {% if page.next %}
        <a class="pull-right" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{page.next.title}} <i class="fa fa-angle-right"></i></a>
      {% endif %}
    </div>


    <br />
    <br />

    {% include comments %}

    <br />
    <br />

  </div>


  <div class="col-sm-3 col-md-4 hidden-xs post-meta">
    <section>
      <h5>Published</h5>
      <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
    </section>
    <section>
      <h5>Author</h5>
      <span class="category">
        Simon Schneegans
      </span>
    </section>
    {% if page.tags %}
      <section>
        <h5>Tags</h5>
        {% for tag in page.tags %}
        <a href="/blog/tags/{{ tag }}" class="badge">
          <i class="fa fa-tag"></i> {{ tag }}
        </a>
        {% endfor %}
      </section>
    {% endif %}
  </div>
</div>
