---
layout: default
---

<div class="page-header">
  <div class="row" style="position: relative;">
    <div class="col m5 s12 z-depth-2 rounded gallery-item"
      style="position: absolute; top: 0; bottom: 0; background-position: center; background-repeat: no-repeat;background-size: cover; background-image: url(/assets/pictures/teasers/{{page.teaser}});">
      <div class="caption">
        <p>{{page.tagline}}</p>
      </div>
    </div>
    <div class="col offset-m5 m7 s12">
      <h1>{{page.title}}</h1>
      <p>{{page.excerpt}}</p>
      <p style="margin-top: 50px;">
        {% include post-nav.html %}
      </p>
    </div>
  </div>
</div>

<div class="page-background">

  <div class="page-content">
    {{ content | remove: page.excerpt }}
    <h2 id="comments">Comments</h2>
    {% include comments.html %}
    <br />
  </div>

  <div id="sidebar" class="hide-on-small-only">
    <h5><i class="material-icons top-offset">date_range</i> Published</h5>
    <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
    {% if page.license %}
    <h5><i class="material-icons top-offset">copyright</i> License</h5>
    <a href="/about.html">
      {{ page.license }}
    </a>
    {% endif %}
    {% if page.tags %}
    <h5><i class="material-icons top-offset">loyalty</i> Tags</h5>
    {% for tag in page.tags %}
    <a href="/tags/{{ tag }}" class="chip">
      <i class="tiny material-icons top-offset">loyalty</i> {{ tag }}
    </a>
    {% endfor %}
    {% endif %}

    <h5><i class="material-icons top-offset">dehaze</i> Contents</h5>
    <ul id="toc"></ul>
  </div>

  <div class="page-bottom-nav">
    {% include post-nav.html %}
  </div>

</div>