---
layout: default
---

<div class="page-header">
  <h1>
    {{ page.title }}
    {% if page.tagline %}
      <small>{{ page.tagline }}</small>
    {% endif %}
  </h1>
  <hr>
</div>

<div class="row">
  <div class="col-sm-8">

    <a class="magnific-image" title="{{page.description}}" href="/assets/pictures/{{page.teaser}}"><div class="teaser" style="background-image:url(/assets/pictures/large/{{page.teaser}})"></div></a>
    <br />

    {{ content }}

    <br />
    <br />

    <hr>

    <br />
    <br />

    {% include comments %}

    <br />
    <br />

    <div class="well">
      {% if page.previous %}
        <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}"><i class="fa fa-angle-left"></i> {{page.previous.title}}</a>
      {% endif %}
      {% if page.next %}
        <a class="pull-right" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{page.next.title}} <i class="fa fa-angle-right"></i></a>
      {% endif %}
    </div>
  </div>


  <div class="col-sm-4 hidden-phone post-meta">
    <section>
      <h4>Published</h4>
      <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
    </section>
    {% if page.category %}
      <section>
        <h4>Category</h4>
        <span class="category">
          {{ page.category }}
        </span>
      </section>
    {% endif %}
  </div>
</div>
